@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-image: linear-gradient(
            310deg,
            rgba(131, 131, 131, 0.02) 0%,
            rgba(131, 131, 131, 0.02) 16%,
            transparent 16%,
            transparent 56%,
            rgba(112, 112, 112, 0.02) 56%,
            rgba(112, 112, 112, 0.02) 100%
        ),
        linear-gradient(
            21deg,
            rgba(18, 18, 18, 0.02) 0%,
            rgba(18, 18, 18, 0.02) 47%,
            transparent 47%,
            transparent 82%,
            rgba(178, 178, 178, 0.02) 82%,
            rgba(178, 178, 178, 0.02) 100%
        ),
        linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

a {
    transition: 100ms all;
}

a:hover {
    color: orange;
}
